<p>rxjs-tutor works!</p>
<h1>agentName : {{ agentName }}</h1>

<ol>
  <li [routerLink]="['/map2']">map operator</li>
  <li [routerLink]="['/fromEvent']">fromEvent</li>
  <li [routerLink]="['/interval']">Interval</li>
  <li [routerLink]="['/debounce']">Debounce time</li>
  <li [routerLink]="['/tap']">Tap Operator</li>
  <li [routerLink]="['/distUnchngOperator']">distUnchngOperator</li>
  <li [routerLink]="['/combineLatest']">CombLatestFunction(not operator)</li>
  <li [routerLink]="['/switchmap']">Switch Map</li>
  <li [routerLink]="['/zip']">Zip operator</li>
  <li [routerLink]="['/behaviourSubject']">behaviourSubject operator</li>
  <li [routerLink]="['/switch_and_mergeMap']">switch_and_mergeMap</li>
  <li [routerLink]="['/startWith']">startWith operator</li>
  <li [routerLink]="['/schedulers']">Schedulers</li>
  <li [routerLink]="['/animeInterval']">SchedulerUsingAnimation&Interval</li>
  <li [routerLink]="['/CombineLatestWith']">CombineLatestWith</li>
  <li [routerLink]="['/of_vs_from']">Of Vs From</li>
  <li [routerLink]="['/TakeUntilWithInterval']">Interval with Take Until</li>
  <li [routerLink]="['/exhaustMap']">EXHAUSTMAP vs merge map vs concat map vs switch map</li>
  <li [routerLink]="['/mergeAll']">Merge (i.e NOT mergeMap) vs mergeAll vs mergeMap</li>
  <li [routerLink]="['/subject']">Subject</li>
  <li [routerLink]="['/replaySubject']">replaySubject</li>
  <li [routerLink]="['/asyncSubject']">asyncSubject</li>
</ol>
