<p>rxjs-tutor works!</p>
<!--<h1>agentName : {{ agentName }}</h1>-->

<ol>
  <li><a href="" (click)="false" [routerLink]="['/map2']">Map Operator</a></li>
  <li><a href="" (click)="false" [routerLink]="['/fromEvent']">fromEvent</a></li>
  <li><a href="" (click)="false" [routerLink]="['/interval']">Interval</a></li>
  <li><a href="" (click)="false" [routerLink]="['/debounce']">DebounceTime</a></li>
  <li><a href="" (click)="false" [routerLink]="['/tap']">Tap</a> Operator</li>
  <li><a href="" (click)="false" [routerLink]="['/distUnchngOperator']">distinctUntilChanged Operator</a></li>
  <li><a href="" (click)="false" [routerLink]="['/combineLatest']">CombLatestFunction(not operator)</a></li>
  <li><a href="" (click)="false" [routerLink]="['/switchmap']">SwitchMap</a></li>
  <li><a href="" (click)="false" [routerLink]="['/zip']">ZipOperator</a></li>
  <li><a href="" (click)="false" [routerLink]="['/behaviourSubject']">behaviourSubject_operator</a></li>
  <li><a href="" (click)="false" [routerLink]="['/switch_and_mergeMap']">switch_and_mergeMap</a></li>
  <li><a href="" (click)="false" [routerLink]="['/SwitchMapVsExhaustMap']">SwitchMap Vs ExhaustMap</a></li>
  <li><a href="" (click)="false" [routerLink]="['/startWith']">startWithOperator</a></li>
  <li><a href="" (click)="false" [routerLink]="['/schedulers']">Schedulers</a></li>
  <li><a href="" (click)="false" [routerLink]="['/animeInterval']">SchedulerUsingAnimation & Interval</a></li>
  <li><a href="" (click)="false" [routerLink]="['/CombineLatestWith']">CombineLatestWith</a></li>
  <li><a href="" (click)="false" [routerLink]="['/of_vs_from']">Of Vs From</a></li>
  <li><a href="" (click)="false" [routerLink]="['/TakeUntilWithInterval']">Interval with Take Until</a></li>
  <li><a href="" (click)="false" [routerLink]="['/ConcatAndExhaustMapComponent']">Concat and Exhaust map</a></li>
  <li><a href="" (click)="false" [routerLink]="['/exhaustMap']">EXHAUSTMAP vs merge map vs concat map vs switch map</a></li>
  <li><a href="" (click)="false" [routerLink]="['/mergeAll']">Merge(i.e NOT mergeMap) vs mergeAll vs mergeMap</a></li>
  <li><a href="" (click)="false" [routerLink]="['/subject']">Subject</a></li>
  <li><a href="" (click)="false" [routerLink]="['/replaySubject']">replaySubject</a></li>
  <li><a href="" (click)="false" [routerLink]="['/asyncSubject']">asyncSubject</a></li>
  <li><a href="" (click)="false" [routerLink]="['/takeWhile']">takeWhile operator</a></li>
  <li><a href="" (click)="false" [routerLink]="['/hot_cold']">Hot and cold observable</a></li>
  <li><a href="" (click)="false" [routerLink]="['/memoryLeak']">Memory Leak</a></li>
</ol>
