<p>rxjs-tutor works!</p>
<h1>agentName : {{agentName}}</h1>
<button [routerLink]="['/map2']" type="button">map operator</button>
<button [routerLink]="['/fromEvent']" type="button">fromEvent</button>
<button [routerLink]="['/interval']" type="button">Interval</button>
<button [routerLink]="['/debounce']" type="button">Debounce time</button>
<button [routerLink]="['/tap']" type="button">Tap Operator</button>
<button [routerLink]="['/distUnchngOperator']" type="button">distUnchngOperator</button>
<button [routerLink]="['/combineLatest']" type="button">CombLatestFunction(not operator)</button>
<button [routerLink]="['/switchmap']" type="button">Switch Map</button>

