<p>Distinct Until Changed Operator.</p>


<ol>
  <li>distinctUntilChanged compare the current value with the previous value to produce an output.</li>
  <li>It works just like === operator</li>
  <li><b>Attention:</b>It can compare only primitive values, comparison like  object == object  will be ignored.</li>
  <li>Use DistinctUntilKeyChanged Operator to compare an object.</li>
  <ol>Or use the distinctUntilChanged like this for object</ol>
    <li>distinctUntilChanged((prev, curr) => prev.name === curr.name)</li>
</ol>

