<p>switch-and-merge-map works!</p>
<button (click)="dispatchOrder()" type="button">Dispatch order</button>
<hr>
  <button (click)="_flatBread.next('flat bread')" type="button">Add flat bread</button>
  <button (click)="_meat.next('meat')" type="button">Add Meat</button>
  <button (click)="_souse.next('sauce')" type="button">Add Sauce</button>
  <button (click)="_tomato.next('tomato')" type="button">Add Tomato</button>
  <button (click)="_cabbage.next('cabbage')" type="button">Add Cabbage</button>

  @if (delivery$ | async; as product) {
    <!--  <section *ngIf="durum!.length >0">-->
    @if (product?.product_name) {
      <section>
        <h2>Enjoy😁😁😁</h2>
        <img alt="shawarma" src="assets/aaa.jpg">
        <h5>Ingredients:</h5>
        <pre>{{ product | json}}</pre>
      </section>
    }
  }
